::-webkit-scrollbar {
    height: 3px;
    width: 5px;
 
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #001529;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2f4553;
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2f4553;
  }