::-webkit-scrollbar {
    height: 3px;
    width: 5px;
 
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #282c4b;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }